#situaciones {
  position: absolute;
  right: 0px;
  /* Permite ajustar automáticamente el ancho */
  width: 25vw;
  /* Permite ajustar automáticamente la altura */
  height: auto;
  top: 10vh;
  /* Agrega espacio alrededor del contenido del div */
  padding: 20px;
  /* Incluye padding y border en el ancho total */
  box-sizing: border-box;

}

#imagenEscena {
  position: absolute;
  /* Ajusta la imagen para cubrir todo el contenedor sin distorsionar */
  background-size: contain;
  /* Evita que se repita la imagen en caso de que el gif sea más pequeño que el contenedor */
  background-repeat: no-repeat;
  /* Centra la imagen dentro del contenedor */
  background-position: center;
  /* Puedes ajustar este valor según tus necesidades */
  max-width: 80%;
  /* Puedes ajustar este valor según tus necesidades */
  max-height: 80vh;
  /* Centra el div horizontalmente */
  margin: auto;
  /* Permite ajustar automáticamente el ancho */
  width: 80vw;
  /* Permite ajustar automáticamente la altura */
  height: 80vh;
  bottom: 30vh;
  top: 30vh;
  /* Agrega espacio alrededor del contenido del div */
  padding: 20px;
  /* Incluye padding y border en el ancho total */
  box-sizing: border-box;

}

#texto {
  position: absolute;
  height: 5vh;
  width: 20vw;
  background-color: red;

}

#botonSiguiente2 {
  position: absolute;
  background-image: url('elementos/materiales/botonSiguiente.png');
  /* Ajusta la imagen para cubrir todo el contenedor sin distorsionar */
  background-size: contain;
  /* Evita que se repita la imagen en caso de que el gif sea más pequeño que el contenedor */
  background-repeat: no-repeat;
  /* Centra la imagen dentro del contenedor */
  background-position: center;
  height: 5vh;
  width: 15vw;
  bottom: 2.5vh;
  right: 45vw;
}

#botonAnterior {
  position: absolute;
  background-image: url('elementos/materiales/botonAnterior.png');
  /* Ajusta la imagen para cubrir todo el contenedor sin distorsionar */
  background-size: contain;
  /* Evita que se repita la imagen en caso de que el gif sea más pequeño que el contenedor */
  background-repeat: no-repeat;
  /* Centra la imagen dentro del contenedor */
  background-position: center;
  height: 5vh;
  width: 15vw;
  bottom: 2.5vh;
  left: 20vw;
}

#botonSiguiente {
  position: absolute;
  height: 5vh;
  width: 15vw;
  bottom: 2.5vh;
  right: 4.5vw;
}

#cabecero {
  position: absolute;
  background-image: url('elementos/materiales/marco.png');
  /* Ajusta la imagen para cubrir todo el contenedor sin distorsionar */
  background-size: 100% 100%;
  /* Evita que se repita la imagen en caso de que el gif sea más pequeño que el contenedor */
  background-repeat: no-repeat;
  /* Centra la imagen dentro del contenedor */
  background-position: center;
  /* Puedes ajustar este valor según tus necesidades */
  max-width: 100%;
  /* Puedes ajustar este valor según tus necesidades */
  max-height: 80vh;
  /* Centra el div horizontalmente */
  margin: auto;
  /* Permite ajustar automáticamente el ancho */
  width: 100vw;
  /* Permite ajustar automáticamente la altura */
  height: 10vh;

  top: 0px;
  /* Agrega espacio alrededor del contenido del div */
  padding: 20px;
  /* Incluye padding y border en el ancho total */
  box-sizing: border-box;

}

.situacion {
  /* Ancho del contenedor hijo (restar 10px para la separación) */
  width: calc(70% - 10px);
  /* Altura del contenedor hijo */
  height: 5vh;
  /* Ajusta la imagen para cubrir todo el contenedor sin distorsionar */
  background-size: contain;
  /* Evita que se repita la imagen en caso de que el gif sea más pequeño que el contenedor */
  background-repeat: no-repeat;
  /* Centra la imagen dentro del contenedor */
  background-position: center;
  /* Separación entre los contenedores hijos */
  margin-bottom: 5px;

  transition: transform 0.2s, background-image 0.2s;
}

/* Escalado de boton o mouse over*/
.situacion:hover {
  /* Hace que el div sea un poco más grande al pasar el ratón por encima */
  transform: scale(1.03);
}